# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store

# =========================
# Environment / Secrets
# =========================
.env
config/db_config.py

# =========================
# Logs
# =========================
*.log

# =========================
# Database dumps
# =========================
*.sql.dump
*.backup
